{% extends 'base.html' %}
{% block title %}
    My Cart
{% endblock %}
{% block content %}
    <table>
        <thead>
        <tr>
            <th>Quantity</th>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        {% for cart_item_with_total in cart_items_with_totals %}
            <tr>
                <td>{{ cart_item_with_total.cart_item.quantity }}</td>
                <td>
                    <img src="{{ cart_item_with_total.cart_item.product.header_image.url }}" alt="cart_item_photo"
                         style="max-width: 60px;max-height: 60px">
                    {{ cart_item_with_total.cart_item.product.name }}
                </td>
                <td>{{ cart_item_with_total.cart_item.product.price }}</td>
                <td>
                    {{ cart_item_with_total.t_price }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <span>Cart total: {{ final_total }}</span>
        <a class="btn btn-sm btn-warning" href="{% url 'merch' %}">Go back to shopping</a>
        <a class="btn btn-sm btn-primary" href="{% url 'checkout' %}">Go checkout</a>
    </div>
    <style>
        th, td {
            padding: 15px;
            text-align: left;
        }
    </style>
{% endblock %}