{% extends 'base.html' %}
{% load static %}
{% block title %}
    Club Merch
{% endblock %}
{% block content %}
    <h1>Club Merch</h1>
    {% if perms.merch.add_merch %}
        <a class="btn btn-sm btn-primary" href="{% url 'create_merch' %}">Create Merch</a><br>
    {% endif %}
    {% for merch in all_merch %}
        {% if merch.for_city %}
            {% if not merch.for_vip %}
                <div class="card" style="width: 18rem;margin-right: 20px;">
                    <img src="{{ merch.header_image.url }}" class="card-img-top" alt="..." style="max-height: 280px">
                    <div class="card-body">
                        <h5 class="card-title">{{ merch.name }}</h5>
                        <p class="card-text" style="margin-bottom:18px;margin-top: 14px">
                            Price: {{ merch.price }} &#163</p>
                        <p class="card-text">Available sizes: S/M/L/XL/XXL</p>
                        <a class="btn btn-sm btn-primary" href="{% url 'buy_product' merch.id %}">Buy product</a>
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'add_to_cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ merch.id }}">
                                <label>Nr of products:
                                    <input type="number" name="quantity" value="{{ quantity }}">
                                </label>
                                <button type="submit" class="btn btn-primary">Add to cart</button>
                            </form>
                        {% endif %}
                        {% if perms.merch.change_merch %}
                            <a class="btn btn-sm btn-primary"
                               href="{% url 'update_merch' merch.id %}">Update</a>
                        {% endif %}
                        {% if perms.merch.delete_merch %}
                            <a class="btn btn-sm btn-danger" href="{% url 'delete_merch' merch.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <h1>Club Merch VIP</h1>
    {% for merch in all_merch %}
        {% if merch.for_city %}
            {% if  merch.for_vip %}
                <div class="card" style="width: 18rem;margin-right: 20px;">
                    <img src="{{ merch.header_image.url }}" class="card-img-top" alt="..." style="max-height: 280px">
                    <div class="card-body">
                        <h5 class="card-title">{{ merch.name }}</h5>
                        <div>
                            <p class="card-text" style="margin-bottom:18px;margin-top: 14px">
                                Price: {{ merch.price }} &#163</p>
                        </div>
                        <p class="card-text">Available sizes: S/M/L/XL/XXL</p>
                        {% if perms.user.vip_only %}
                            <a class="btn btn-sm btn-primary" href="{% url 'buy_product' merch.id %}">Buy product</a>
                        {% else %}
                            <button class="btn btn-sm btn-danger" disabled>Only for VIP</button>
                        {% endif %}
                        {% if user.is_authenticated %}
                            {% if perms.user.vip_only %}
                                <form method="post" action="{% url 'add_to_cart' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ merch.id }}" required>
                                    <label>Nr of products:
                                        <input type="number" name="quantity" min="1" value="{{ quantity }}" required>
                                    </label>
                                    <button type="submit" class="btn btn-primary">Add to cart</button>
                                </form>
                            {% endif %}
                        {% endif %}
                        {% if perms.merch.change_merch %}
                            <a class="btn btn-sm btn-primary"
                               href="{% url 'update_merch' merch.id %}">Update</a>
                        {% endif %}
                        {% if perms.merch.delete_merch %}
                            <a class="btn btn-sm btn-danger" href="{% url 'delete_merch' merch.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <style>

        * {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box
        }

        body {
            background-color: #dadde6;
            font-family: Arial, serif;
        }

        h1 {
            text-transform: uppercase;
            font-weight: 900;
            border-left: 10px solid #fec500;
            padding-left: 10px;
            margin-bottom: 30px
        }

        .card {
            display: inline-block;
            margin-bottom: 40px;
        }
    </style>
{% endblock %}