{% extends 'base.html' %}
{% block title %}
    VIP Activation Success
{% endblock %}
{% block content %}
    <div class="text-center">
        <div>
            <span>Congratulations you are a VIP!!!</span>
            <ul>The benefits are:
                <li>You can buy VIP only tickets</li>
                <li>You can reserve hospitalitys on Real Madrid Stadium(Santiago Bernabéu)</li>
                <li>Discounts on merch for your favourite team</li>
                <li>Other benefits coming soon...</li>
            </ul>
        </div>
        <a class="btn btn-primary" href="http://127.0.0.1:8000/">Go to home page</a>
    </div>
{% endblock %}