{% extends 'base.html' %}
{% block title %}
    Hospitality
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Hospitality</h1>
        {% if perms.hospitality.add_hospitality %}
            <a class="btn btn-sm btn-primary" href="{% url 'create_hospitality' %}">Create Hospitality</a>
        {% endif %}
        {% for hospitality in all_hospitality %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ hospitality.name_city }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Price: {{ hospitality.price_city }}</p>
                    <p class="card-text">Description: {{ hospitality.description_city }}</p>
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary"
                            data-bs-target="#buyModal" id="modalTrigger">
                        Buy now
                    </button>
                    {% if perms.hospitality.change_hospitality %}
                        <a class="btn btn-sm btn-primary"
                           href="{% url 'update_hospitality' hospitality.id %}">Update</a>
                    {% endif %}
                    {% if perms.hospitality.delete_hospitality %}
                        <a class="btn btn-sm btn-danger" href="{% url 'delete_hospitality' hospitality.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {# modal #}
    <div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buy ticket</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                         width="150">
                    Do you really want to buy this service?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'checkout' %}" class="btn btn-primary">Go to checkout</a>
                </div>
            </div>
        </div>
    </div>
    <style>

        * {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box
        }

        body {
            background-color: #dadde6;
            font-family: Arial, serif;
        }

        .container {
            width: 90%;
            margin: 100px auto
        }

        h1 {
            text-transform: uppercase;
            font-weight: 900;
            border-left: 10px solid #fec500;
            padding-left: 10px;
            margin-bottom: 30px
        }

        .card {
            margin-bottom: 40px;
        }
    </style>
{% endblock %}